.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  color: var(--background);
  background-color: var(--primary);
}

.primary {
  background-color: var(--primary);
  color: var(--background);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--gray-light);
}

.ghost:hover {
  background-color: var(--primary);
  color: var(--background);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.primary .arrow {
  fill: var(--background);
}

.ghost:hover .arrow {
  fill: var(--background);
}
